[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-cors = "==3.0.10"
flask-sqlalchemy = "==3.0.5"
flask-migrate = "==4.0.4"
flask-bcrypt = "==1.0.1"
pyjwt = "==2.7.0"

[dev-packages]

[requires]
python_version = "3.8"
